node_modules/

# Misc
.vscode
*.log
.DS_Store
.babelrc
.eslintrc
.eslintignore
.gitignore
CHANGELOG.md
tsconfig.json

# Build
tmp/
babel/

# Cache
.cache/
cache/
*_cache_*/

# Source
src/
test/
tests/
preact/
