name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: |
          yarn install
      - name: Build package
        run: |
          yarn build
        working-directory: ./packages/react-only
      - name: Run tests
        run: |
          yarn test
        working-directory: ./packages/tests
